span[data-color="#582c83"]{color: #582c83;}
span[data-color="#0093b2"]{color: #0093b2;}
span[data-color="#0f8a07"]{color: #0f8a07;}
span[data-color="#000000"]{color: #000000;}
span[data-color="#7a9a01"]{color: #7a9a01;}
span[data-color="#b7bf10"]{color: #b7bf10;}
span[data-color="#62bb46"]{color: #62bb46;}
span[data-color="#666666"]{color: #666666;}
span[data-color="#9e9e9e"]{color: #9e9e9e;}
span[data-color="#a50050"]{color: #a50050;}
span[data-color="#d8d8d8"]{color: #d8d8d8;}
span[data-color="#f4f4f4"]{color: #f4f4f4;}
span[data-color="#f73f3f"]{color: #f73f3f;}
span[data-color="#ffffff"]{color: #ffffff;}
span[data-color="#fdf3f3"]{color: #fdf3f3;}
span[data-color="#f8f8f8"]{color: #f8f8f8;}
span[data-background-color="#582c83"]{background-color: #582c83;}
span[data-background-color="#0093b2"]{background-color: #0093b2;}
span[data-background-color="#0f8a07"]{background-color: #0f8a07;}
span[data-background-color="#000000"]{background-color: #000000;}
span[data-background-color="#7a9a01"]{background-color: #7a9a01;}
span[data-background-color="#b7bf10"]{background-color: #b7bf10;}
span[data-background-color="#62bb46"]{background-color: #62bb46;}
span[data-background-color="#666666"]{background-color: #666666;}
span[data-background-color="#9e9e9e"]{background-color: #9e9e9e;}
span[data-background-color="#a50050"]{background-color: #a50050;}
span[data-background-color="#d8d8d8"]{background-color: #d8d8d8;}
span[data-background-color="#f4f4f4"]{background-color: #f4f4f4;}
span[data-background-color="#f73f3f"]{background-color: #f73f3f;}
span[data-background-color="#ffffff"]{background-color: #ffffff;}
span[data-background-color="#fdf3f3"]{background-color: #fdf3f3;}
span[data-background-color="#f8f8f8"]{background-color: #f8f8f8;}
body.path-media transitionset, body.path-media form#content-moderation-entity-moderation-form,
form#media-document-edit-form.media-published #edit-field-document-0-remove-button,
form#media-document-edit-form.media-published #edit-footer .form-item-moderation-state-0-state,
form#media-document-edit-form.media-published #edit-actions #edit-submit,
form#media-document-edit-form #edit-field-pub-url-doc-wrapper,
form#media-document-add-form #edit-field-pub-url-doc-wrapper {
    /* display: none; */
}
.user-logged-in .view-media-library .media-library-item__attributes{
    position: relative;
}
.user-logged-in form#views-exposed-form-landing-page-management-page-1 {
    width: 30%;
    float: left;
}
.user-logged-in .view-landing-page-management .view-content{
    width: 70%;
    float: left;
}
.user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form .form-composite .fieldset-wrapper{
    height: 300px;
    width: 270px;
    overflow: scroll;
    border: 1px solid #ccc;
}
.user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form .form--inline > .form-item {
    float: left;
    margin: 0;
    clear: both;
}
.user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form li{
    list-style-type: none;
}

.bef-link-active {
    font-weight: 900;
}
.view-header{
    float: right;
    margin-right: 3%;
}

/*** BEGIN FILE EXPLORER CODE ***/

/*** BEGIN OPTIONAL styling for box that contains the list ***/
.user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form-container {
    width:250px;
    height:200px;
    overflow-y: scroll;
    padding: 10px 10px;
    position:relative;
  }
  /*** END OPTIONAL styling for box that contains the list ***/

  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form-preloader {
      width: 50px;
      top: 45%;
      position: absolute;
      left: 50%;
      margin-left: -16px;
    display:none; /* Initially set this to not display unless JS is detected*/
  }

  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form {
    /* display:none; Replaced with document.write in HEAD tags. */
  }

  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form li li {
      /*background-image: url(page.png);
      background-position: 0 1px;
      background-repeat: no-repeat;*/
      padding-left: 30px;
      background-size: contain;
  }
  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form li.folder {
      /*background-image: url(folder.png);*/
  }

  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form a {
    /*background: transparent url(https://www.jqwidgets.com/jquery-widgets-demo/images/folder.png ) no-repeat left top; */
    background: transparent url('../assets/iconfinder_folder.png') no-repeat left top;
    background-size: contain;
    padding: 0px 0 0px 30px;
    display: block;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    border-bottom: none;
    background-size: contain;
    font-size: 12px;
    margin: 8px 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  }
  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form ul ul li.active-folder{
    margin-left: 30px;
  }
  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form li li.active-folder a{
    padding: 0;
  }
  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form a.expanded {
    /* background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/folder_open.png) no-repeat left top; */
  }
  .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form a a{
    background: none;
    padding-left: 0;
  }
  .user-logged-in .view-id-landing_page_management .active-folder{
    /* background: transparent url(../assets/iconfinder_opened_folder.png) no-repeat !important; */
    background: transparent url('../assets/iconfinder_folder.png') no-repeat left top;
    background-size: contain;
  }
  .user-logged-in .view-id-landing_page_management .active-folder a{
      background: none !important;
  }
  /*** END IMAGE ICON ***/

  /* .user-logged-in .view-id-landing_page_management .views-exposed-form.bef-exposed-form a:hover {
      text-decoration: underline;
    background-color:#ccc;
  } */
/* Highlight component type field */
body.path-node .field--name-component-type.field--label-above {
  font-style: italic;
}
body.path-node .field--name-component-type.field--label-above .field__item {
  display: inline;
  background-color: #e3e3e3;
  padding: 0 6px;
}
/* Hide one-off component blocks in IPE. */
a.ipe-category[data-category*="Place New Component"], div.ipe-hide-block {
  display: none;
}
